
#programs_page ul{
	border-left:2px solid rgba(0,0,0,0.6);
	margin-left:30px;
	margin-right:30px;
	background:rgba(0,0,0,0.4);
}

#programs_page ul li{
	background:rgba(0,0,0,0.2);
	margin:20px -20px 20px;
	font:16px arial;
}

#programs_page ul li a{
	color:#cccccc;
	text-decoration:none;
}

#programs_page ul li a:hover{
color:white;
}

#programs_page p{
	display:block;
	background-color:rgba(0,0,0,0.4);
	margin:0px 400px 0px;
	color:#cccccc;
	margin-top:100px;
	font:24px arial;
}
